<%= form_for(@question) do |f| %>
  <%= render "shared/error_messages", :object => @question %>
  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="field">
    <%= f.label :question %><br />
    <%= f.text_area :question, :rows => 3, :cols => 500, :class => 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :class => "btn btn-primary"%>
  </div>
<% end %>
