<%= nested_form_for(@question) do |f| %>
  <%= render "shared/error_messages", :object => @question %>
  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="field">
    <%= f.label :question %><br />
    <%= f.text_area :question, :rows => 3, :cols => 500, :class => 'form-control' %>
    <br />
    <h4>Tags</h4>
    <%= f.fields_for :tags do |tag| %>
    <%= tag.label :name, :class=> 'span'%>&nbsp; &nbsp;
    <%= tag.text_field :name%> &nbsp; &nbsp;
    <%= tag.link_to_remove "",:title => "Delete", :class=>'icon-remove btn btn-primary'%>
  </div>
  <% end %>
    <%= f.link_to_add "Add a Tag", :tags %>
    <br/>
    <br/>
  <div class="actions">
    <%= f.submit "Submit", :class => "btn btn-primary float-right"%>
  </div>
<% end %>
