<div class="panel-group" id="accordion">
  <div class="panel panel-info" id= "questionpanel_<%= question.id%>">
    <span class="action_links float-right">
      <% if question.user_id == current_user.id %>
        <%= link_to '', edit_question_path(question), :title => "Edit", :class=>'icon-edit' %> 
        <%= link_to '', question, method: :delete, :title => "Delete", :class=>'icon-remove', data: { confirm: 'Are you sure?',:remote=>true } %>
        <% else %>
        <% if Flag.already_flagged(question, current_user) %>
          <%= link_to "", unflag_question_path(question), :remote => true, :class => "icon-flag", :style => "color:red;" , :id=>"flag_#{question.id}"%>
        <% else %>
          <%= link_to "", flag_question_path(question), :remote => true, :class => "icon-flag" ,:id=>"flag_#{question.id}"%>
        <% end %>
      <% end %>
    </span>

    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#question_<%= question.id %>">
      <span class="float-left" style="margin-top:-5px;margin-bottom:5px;">
        <%= image_tag question.user.profile_pic_url, :size => "40x40", :style => "border-radius:5px; border:1px solid #3A87AD;" %>
      </span>
      <div class="panel-title question">
        &nbsp;<%= raw question.question%>
      </div>

      <div class="clear"></div>
        
      <span class="tags">
        <i class="icon-tags"></i>
        <%= question.tags.map{|tag| tag.name }.join(", ") %>
      </span>
      
      <i><small class="float-right">Updated : <%= time_ago_in_words(question.updated_at) %> ago</small></i>
      </br>
    </div>
   
    <div id="question_<%= question.id %>" class="panel-collapse collapse">
      <div class="panel-body">
        <div id="answers_<%= question.id %>">
          <%= render :partial => "answers/answer", :collection => question.answers%>
        </div>
        <br/>
         <%= render "answers/form", :question => question%> 
      </div>
    </div>
  </div>
</div>