<div class="panel-group" id="accordion">
  <div class="panel panel-warning" id= "questionpanel_<%= question.id%>">
    <span class="action_links float-right">
      <%= question_actions(current_user, question) %>
    </span>

    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#question_<%= question.id %>">
      <span class="float-left" style="margin-top:-5px;margin-bottom:5px;">
        <%= image_tag question.user.profile_pic_url, :size => "40x40", :style => "border-radius:5px; border:1px solid #3A87AD;" %>
      </span>
      <div class="panel-title question">
        &nbsp;<%= raw question.question%>
      </div>

      <div class="clearfix"></div>
        
      <span class="tags">
        <span class="badge"><%= pluralize(question.answers_count, "Answer") %></span>
        <% question.tags.each do |tag| %>
          <span class="label label-default"><i class="icon-tags"></i> <%= tag.name.titleize %></span>
        <% end %>
      </span>
      
      <i><small class="float-right" style="margin-left:5px">Updated : <%= time_ago_in_words(question.updated_at) %> ago</small></i>
      <i><small class="float-right" >Created By : <%= question.user.name.titleize %>   &nbsp;| </small></i>
      </br>
    </div>
   
    <div id="question_<%= question.id %>" class="panel-collapse collapse">
      <div class="panel-body">
        <div id="answers_<%= question.id %>">
          <%= render :partial => "answers/answer", :collection => question.answers%>
        </div>
        <br/>
         <%= render "answers/form", :question => question%> 
      </div>
    </div>
  </div>
</div>