<div class="panel panel-default">
  <div class="panel-heading">
    <% path = request.fullpath %>
    <%= question_index_heading(path, @tag) %>
  </div>
    <%= question_index_buttons(path)%>

  	<% if path== "/questions/blocked"%>
     <div class="panel-body">
      <%= form_tag "#", method: :delete,:id=>"admin_form",:remote=>:true do %>
 
        <%= submit_tag "Unblock selected",:class=>"btn btn-mini btn-success float-right",:style=>"margin-top:-51px; margin-right:85px",:onclick=>"action_unblock()"%>
        <%= submit_tag "Delete selected",:class=>"btn btn-mini btn-danger float-right",:style=>"margin-top:-51px; margin-right:-5px;",:onclick=>"action_delete()"%>

        <table id="viewgrid">
          <thead>
            <th>Select</th>
            <th>Question</th>
            <th>Answers_count</th>
            <th>Posted-by</th>
            <th width="140">actions</th>
          </thead>
          <tbody>
          <%= render :partial => "blocked_question", :collection => @questions%>
          </tbody>
        </table>
      <% end %>  
    </div>
    <% else %>
      <div class="panel-body body-margin">
      <%= render :partial => 'question', :collection => @questions, :spacer_template => "shared/item_seperator" %>
      </div>
    <% end %>
</div>
<%= render "shared/datatable_lib"%>
<script type="text/javascript">
function action_unblock(){
  $('#admin_form').attr('method','get');
  $('#admin_form').attr('action',"<%= unblock_questions_path%>");
}
function action_delete(){
  $('#admin_form').attr('action',"<%= destroy_multiple_questions_path%>");
}
</script>