<div class="panel panel-default">
  <div class="panel-heading">
    <% path = request.fullpath %>
    <%if @tag.present?%>
     	<b>Listing Questions tagged with <%= @tag.name.upcase%></b>
    <%elsif path== "/questions/expertise"%>
     	<b>Listing Questions on your expertise : </b>
      <% current_user.expertise_list.split(",") do |tag| %>
      <a href="/questions/tagged/<%=Tag.find_by_name(tag).id%>"><span class="label label-success"><i class="icon-tags"></i> <%= tag.titleize %></span></a>
    <% end %>
    <%elsif path== "/questions/interest"%>
      <b>Listing Questions on your Interest : </b>
      <% current_user.interest_list.split(",") do |tag| %>
    <a href="/questions/tagged/<%=Tag.find_by_name(tag).id%>">
      <span class="label label-success"><i class="icon-tags"></i> <%= tag.titleize %></span>
    </a>
    <% end %>
    <%else%>
      <b>Listing Questions </b>
    <%end%>
  </div>
    <%= button_to '+ Add Question', new_question_path, "data-disable-with" => "Please wait...", :title => "New Question", :class=>'btn btn-success btn-mini float-right top-margin', :method => :get  %>
  <div class="panel-body body-margin">
	<%= render :partial => 'question', :collection => @questions, :spacer_template => "shared/item_seperator" %>
  </div>
</div>