<blockquote>
  <p>Listing Questions</p>
</blockquote>
<span class="add-new">
  <%= link_to 'New Question', new_question_path %>
</span>

<table id="viewgrid">
  <thead>
    <tr>
      <th>Question</th>
      <th># of Answers</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= link_to question.question, question %></td>
        <td><%= question.answers_count %></td>
        <td>
          <%= link_to 'Edit', edit_question_path(question) %> | 
          <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %> |
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render "shared/datatable_lib" %>

