<div class="panel panel-info span12">
  <div class="panel-heading">
    Profile
  </div>
  <div class="panel-body">
    <div id="userStats" class="clearfix">
      <div class="span3">
        <%= image_tag @profile.photo.url(:large), :class => 'control-label img-rounded' if @profile.present? %>

      </div>
      <div class="data span6">
        <h2><%= @profile.user.name %></h2>
        <h4><%= @profile.user.email%></h4>
        <address>
        <strong>Sony India Software Center</strong><br>
          Street: <%= @profile.street %><br>
          City : <%= @profile.city %><br> State: <%= @profile.state %><br>
          Pin: <%= @profile.pin %><br> Country: <%= @profile.country %> <br>
          <abbr title="Phone">P:</abbr> <%= @profile.mobile %>
        </address>      
      </div>
      <div class="span2">
        <%= image_tag("medal2.jpg", height: '180', width: '180') %>
            <% @profile.user.my_points(@profile.user).each do |point| %>
              <h3 style="margin-top: -130px;" align="center"><%= point.total_points%> </h3>
              <h6 style="margin-top: -16px;margin-left: 51px;">points</h6>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>
<% if @profile.user==current_user %>
<div class="span8" align="center">
    
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_profile_path(@profile), :class => 'btn' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                profile_path(@profile),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
  </div>
<%end%>
