<%- model_class = Profile -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.titleize %></h3>
</div>

<table >
  <tr><td><strong><%= model_class.human_attribute_name(:first_name) %>:</strong></td>
  <td><%= @profile.first_name %></td></tr>
  <tr><td><strong><%= model_class.human_attribute_name(:last_name) %>:</strong></td>
  <td><%= @profile.last_name %></td></tr>
  <tr><td><strong><%= model_class.human_attribute_name(:dob) %>:</strong></td>
  <td><%= @profile.dob %></td></tr>
  <tr><td><strong><%= model_class.human_attribute_name(:street) %>:</strong></td>
  <td><%= @profile.street %></td></tr>
  <tr><td><strong><%= model_class.human_attribute_name(:city) %>:</strong></td>
  <td><%= @profile.city %></td></tr>
  <tr><td><strong><%= model_class.human_attribute_name(:state) %>:</strong></td>
  <td><%= @profile.state %></td></tr>
  <tr><td><strong><%= model_class.human_attribute_name(:pin) %>:</strong></td>
  <td><%= @profile.pin %></td></tr>
  <tr><td><strong><%= model_class.human_attribute_name(:country) %>:</strong></td>
  <td><%= @profile.country %></td></tr>
  <tr><td><strong><%= model_class.human_attribute_name(:mobile) %>:</strong></td>
  <td><%= @profile.mobile %></td></tr>
</table>

<div class="form-actions">
  
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_profile_path(@profile), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              profile_path(@profile),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
