<blockquote>
  <p>Listing Comments</p>
</blockquote>
<span class="add-new">
  <%= link_to 'New Comment', new_comment_path %>
</span>
<table  class="table table-hover table-striped">
  <tr>
    <th>User</th>
    <th>Comment</th>
    <th>Answer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.user_id %></td>
    <td><%= comment.comment %></td>
    <td><%= comment.answer_id %></td>
    <td><h6><%= link_to 'Show', comment %></h6></td>
    <td><h6><%= link_to 'Edit', edit_comment_path(comment) %></h6></td>
    <td><h6><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></h6></td>
  </tr>
<% end %>
</table>

<br />

