<h1>Listing points_histories</h1>

<table>
  <tr>
    <th>User</th>
    <th>Points map</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @points_histories.each do |points_history| %>
  <tr>
    <td><%= points_history.user_id %></td>
    <td><%= points_history.points_map_id %></td>
    <td><%= link_to 'Show', points_history %></td>
    <td><%= link_to 'Edit', edit_points_history_path(points_history) %></td>
    <td><%= link_to 'Destroy', points_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Points history', new_points_history_path %>
