<%= form_for(@user) do |f| %>
  <%= render "shared/error_messages", :object => @user %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :username %><br />
  <%= f.text_field :username %></div>


  <div>
  	<%= f.radio_button(:role, "Admin") %>
  	<%= f.label(:role_Admin, "Co-Admin") %>
  	<%= f.radio_button(:role, "User") %>
	<%= f.label(:role_User, "normal User") %>
  </div>

  <div><%= f.submit "Update" , :class => "btn btn-primary btn-mini" %></div>
<% end %>
