<%= form_for(@user) do |f| %>
  <%= render "shared/error_messages", :object => @user %>

  <table><tr><td><%= f.label :email %></td>
  <td><%= f.email_field :email, :autofocus => true %></td></tr>

  <tr><td><%= f.label :username %></td>
  <td><%= f.text_field :username %></td></tr>


  <tr><td>
  	Role</td>
  	<td><span><%= f.radio_button(:role, "Admin") %>
  	<%= f.label(:role_Admin, "Co-Admin") %>
  	<%= f.radio_button(:role, "User") %>
	<%= f.label(:role_User, "normal User") %></span></td>
  </tr></table>

  <div><%= f.submit "Update" , :class => "btn btn-primary btn-mini" %></div>
<% end %>
