<%= form_for(@user) do |f| %>
  <%= render "shared/error_messages", :object => @user %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :username %><br />
  <%= f.text_field :username %></div>

  <div><%= f.label :password %> <br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>


  <div><%= f.submit "Update" , :class => "btn btn-primary btn-mini" %></div>
<% end %>
