<div class="span2"><h5>Your Expertise</h5></div>
<div class="span10">
<%=form_for(@user) do |f| %>
  <%= render "shared/error_messages", :object => @user %>
  <%= f.text_area :expertise_list, :id=>"tags2", :class=>"set-height"%>
  <br/>
  <div class="actions"> 
    <%= f.submit "Submit", :class => "btn btn-primary btn-mini"%>
  </div>
<% end %>
</div>

<%= link_to "Back", :back %>