<%= form_for(@expertise) do |f| %>
  <%= render "shared/error_messages", :object => @expertise %>

  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="field">
    <%= f.label :expertise %><br />
    <%= f.text_field :expertise %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :class => "btn btn-primary"%>
  </div>
<% end %>
