<blockquote>
  <p>Listing Expertise</p>
</blockquote>
<span class="add-new">
  <%= link_to 'New Expertise', new_expertise_path %>
</span>
<table  class="table table-hover table-striped">
  <tr>
    <th>User</th>
    <th>Expertise</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @expertises.each do |expertise| %>
  <tr>
    <td><%= expertise.user_id %></td>
    <td><%= expertise.expertise %></td>
    <td><h6><%= link_to 'Show', expertise %></h6></td>
    <td><h6><%= link_to 'Edit', edit_expertise_path(expertise) %></h6></td>
    <td><h6><%= link_to 'Destroy', expertise, method: :delete, data: { confirm: 'Are you sure?' } %></h6></td>
  </tr>
<% end %>
</table>

<br />


