<h1>Listing expertises</h1>

<table>
  <tr>
    <th>User</th>
    <th>Expertise</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @expertises.each do |expertise| %>
  <tr>
    <td><%= expertise.user_id %></td>
    <td><%= expertise.expertise %></td>
    <td><%= link_to 'Show', expertise %></td>
    <td><%= link_to 'Edit', edit_expertise_path(expertise) %></td>
    <td><%= link_to 'Destroy', expertise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Expertise', new_expertise_path %>
