<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <p id="notice"><%= notice %></p>
</div>
<p>
  <b>User:</b>
  <%= @expertise.user_id %>
</p>

<p>
  <b>Expertise:</b>
  <%= @expertise.expertise %>
</p>


<%= link_to 'Edit', edit_expertise_path(@expertise) %> |
<%= link_to 'Back', expertises_path %>
