<h5> Top Contributors </h5>
<div class="list-group">
<% User.top_contributors.each do |user| %>
<% u = User.find(user.owner_id)%>
<%if u.profile.present? %>
  <a href="<%= profile_path(u.profile)%>" class="list-group-item">
    <ul class="media-list" style="margin-bottom:0px;">
      <li class="media">
        <%= image_tag u.profile.photo.url(:medium), :class => "pull-left" %>
        <div class="media-body">
          <h5 class="media-heading"><%= u.name %></h5>
          <%= image_tag("medal.jpeg", height: '25', width: '25') %><span class="badge"><%= user.total_points %> points</span>
        </div>
      </li>
    </ul>
  </a>
<%end%>
<% end %>
</div>