<h5> Top Contributors </h5>
<div class="list-group">
<% User.top_contributors.each do |user| %>
  <a href="<%= user.profile.present? ? profile_path(user.profile) : "#" %>" class="list-group-item">
    <ul class="media-list" style="margin-bottom:0px;">
      <li class="media">
        <% if user.profile.present? %>
          <%= image_tag user.profile.photo.url(:medium), :class => "pull-left" %>
        <% else %>
          <%= image_tag "user_medium.jpeg", :class => "pull-left" %>
        <% end %>
        <div class="media-body">
          <h5 class="media-heading"><%= user.name %></h5>
          <%= image_tag("medal2.jpg", height: '35', width: '35') %>
          <span class="badge" ><%= user.total_points %> Points </span>
        </div>
      </li>
    </ul>
  </a>
<% end %>
</div>