<title>Rorproject</title>
<%= javascript_include_tag "jquery-ui-1.10.2/jquery-1.9.1" %>
<%= csrf_meta_tags %>
<%= javascript_include_tag "bootstrap" %>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "nested_form" %>
<%= javascript_include_tag "flag-setter" %>
<%= javascript_include_tag "jquery-ui-1.10.2/ui/jquery-ui" %>
<%= javascript_include_tag "jquery-ui-1.10.2/ui/jquery.ui.datepicker" %>
<%= javascript_include_tag "jquery.tagsinput" %>
<%= stylesheet_link_tag    "bootstrap.min", :media => "all" %>
<%= stylesheet_link_tag    "offcanvas", :media => "all" %>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= stylesheet_link_tag    "jquery.tagsinput", :media => "all" %>
<%= stylesheet_link_tag    "jquery-ui-1.10.2/themes/base/jquery-ui", :media => "all" %>
<%= stylesheet_link_tag    "jquery-ui-1.10.2/themes/base/jquery.ui.datepicker", :media => "all" %>
