<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
       <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Rorproject</a>

      <div class="container nav-collapse">
        <ul class="nav navbar-nav">
          <%= tabs_tag :builder => MenuTabBuilder do |tab| %>
            <%= tab.home 'Home', root_path %>
            <%= tab.dashboard 'Dashboard', welcome_path %>
            <%= tab.about_us 'About', about_us_path %>
            <%= tab.contact_us 'Contact Us', contact_us_path %>
          <% end %>
        </ul>
        
        <form class="navbar-form navbar-right" role="search" action="<%= search_questions_path %>" method="post">
          <div class="form-group input-append">
            <input type="text" class="form-control" id="appendedInputButton" name="text" placeholder="Search">
            <button type="submit" class="btn btn-default"><i class="icon-search"></i></button>
          </div>
        </form>
      </div><!-- /.nav-collapse -->
    </div>
  </div>
</div>
