<div class="panel-group" id="accordion">
  <div class="panel panel-info">
    <span class="action_links float-right">
      <%= link_to '', edit_question_path(object), :title => "Edit", :class=>'icon-edit' %> 
      <%= link_to '', object, method: :delete, :title => "Delete", :class=>'icon-remove', data: { confirm: 'Are you sure?' } %>
    </span>
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#<%= object.id %>">
      <div class="span7 panel-title">
        <%= object.question%>
      </div>
      <div class="clear"></div>
    </div>
    <div id="<%= object.id %>" class="panel-collapse collapse">
      <div class="panel-body">
        <h6 class="float-right">Updated At: <%= object.updated_at%></h6>
      </br></br>
        <% object.answers.each do |a|%>
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= a.answer %></br>
          </div>
          <div class="panel-body">
            <i class="icon-user icon-white"></i>&nbsp;&nbsp;<%= a.user.email%>
          </div>
        </div>
        <% end %>
        </br>
        <form role="form">
          <label>Answer </label></br>
          <textarea class="form-control" rows="3"></textarea>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
   </div>
  </div>
</div>