<p class="pull-right visible-xs">
  <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
</p>
<div class="panel-group" id="accordion">
  <ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#home" data-toggle="tab">Q by You</a></li>
    <li><a href="#profile" data-toggle="tab">Q on your Experitise</a></li>
    <li><a href="#messages" data-toggle="tab">Q on your Interest</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="home">          
      <%= button_to 'See All', questions_path, :title => "See All", :class=>'btn btn-info float-right', :method => :get %>
      <%= button_to '+ Add Question', new_question_path, :title => "New Question", :class=>'btn btn-success float-right', :method => :get  %> 
      </br></br>
      <%= render :partial => 'questions/question', :collection => @questions, :spacer_template => "shared/item_seperator" %>
    </div>
    <div class="tab-pane" id="profile">
       <%= button_to ' See All', questions_path, :title => "See All", :class=>'btn btn-info float-right', :method => :get %>
      <%= button_to '+ Add Expertise', new_question_path, :title => "New Question", :class=>'btn btn-success float-right', :method => :get  %>
      </br></br>
      <%= render :partial => 'questions/question', :collection => @expertisequestions, :spacer_template => "shared/item_seperator" %>
    </div>
    <div class="tab-pane" id="messages">
      <%= button_to ' See All', questions_path, :title => "See All", :class=>'btn btn-info float-right', :method => :get %>
      <%= button_to '+ Add Interest', new_question_path, :title => "New Question", :class=>'btn btn-success float-right', :method => :get  %>
      </br></br>
    </div>      
  </div>
  <script>
  $(function () {
    $('#myTab a:last').tab('show')
    })
  </script>
</div>