<p class="pull-right visible-xs">
  <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
</p>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Your Questions
        </a>
      </h4>
      <span class="add-new">
        <%= link_to "Create new question", new_question_path %>
      </span> 
      
      
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        Q1. dssfsd?</br>
        Q2. saddda?</br></br>
        <span class="add-new">
        <h6><%= link_to "See All", new_question_path %></h6>
      </span>
        
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Your Expertises
        </a>
      </h4>
      <span class="add-new">
        <%= link_to "Add New Expertises", new_expertise_path %>
      </span>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        Q1. wed?</br>
        Q2. werwerw?</br></br>
        <span class="add-new">
        <h6><%= link_to "See All", new_expertise_path %></h6>
      </span> 
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Your Interests
        </a>
      </h4>
      <span class="add-new">
        <%= link_to "Add New Interest", new_question_path %>
      </span>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        Q1. yiwudiwe?</br>
        Q2. kwdwoidwd?</br></br>
        <span class="add-new">
        <h6><%= link_to "See All", new_question_path %></h6>
      </span> 
      </div>
    </div>
  </div>
</div>



<div class="row">
 

</div><!--/row-->
