<div id="answer_<%=answer.id%>" class="panel <%= answer_panel_class(answer) %>">
  <%= answer_actions(current_user, answer) %>
  <div class="panel-heading">
    <span>
      <%= image_tag "user.jpeg", :size => "30x30", :style => "border-radius:5px; border:1px solid #3A87AD;" %>
    </span>
    <%= answer.user.name %>
    <span class="tags">
       <span class="badge"><%= pluralize(answer.comments_count, "Comment") %></span>
    </span>
  </div>
  <div class="panel-body">
    <%= raw answer.answer %>
    <i><small class="float-right">Updated : <%= time_ago_in_words(answer.updated_at) %> ago</small></i>
    <hr/>
    <div id="comments_<%= answer.id %>">
      <%= render :partial => "comments/comment", :collection => answer.comments.order("updated_at") %>
    </div>
    <%= answer_comment_privileges(current_user, answer)%>
  </div>
</div>