<div id="answer_<%=answer.id%>" class="panel <%= answer_panel_class(answer) %>">
  <span class="action_links float-right">
    <%= answer_actions(current_user, answer) %>
  </span>
  <div class="panel-heading">
    <span>
      <%= image_tag "user.jpeg", :size => "30x30", :style => "border-radius:5px; border:1px solid #3A87AD;" %>
    </span>
    <%= answer.user.name %>
    <span class="tags">
      <a href="<%=answer_path(answer)%>" style="color:inherit;text-decoration: none;" title="Answer Details">
        <span class="badge"><%= pluralize(answer.comments_count, "Comment") %></span>
      </a>
    </span>
  </div>
  <div class="panel-body">
    <%= raw answer.answer %>
    <i><small class="float-right">Updated : <%= time_ago_in_words(answer.updated_at) %> ago</small></i>
    <hr/>
    <div id="comments_<%= answer.id %>">
      <%= render :partial => "comments/comment", :collection => answer.comments.order("updated_at") %>
    </div>
    <%= link_to "Add comment", add_comment_answer_path(answer), :class => "btn btn-success btn-mini addbtn float-right", :method => :get, :remote => true, :id=>"comment_#{answer.id}",:id=>"comment_#{answer.id}"%>
  </div>
  <div class="modal fade" id="modal-window" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" >
      <div class="modal-content" id="modal-content_<%= answer.id%>">
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
</div>