<%= form_for(Answer.new, :url => answers_path, :remote=> true, :id => "new_answer_#{question.id}") do |f| %>
  <div class="panel panel-success">
    <div class="panel-heading">
      Provide an answer:
    </div>
    <div class="panel-body">
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :question_id, :value => question.id %>
      <%= f.text_area :answer , :rows => 3 , :id=>"editor_#{question.id}"%>
     <br/>
     <%= f.submit "Submit", :class => "btn btn-primary"%>
    </div>
  </div>
<% end%>
<script>
  CKEDITOR.replace( 'editor_<%= question.id%>', {
  toolbarGroups: [
    { name: 'clipboard',   groups: [ 'clipboard', 'undo' ] },     // Group's name will be used to create voice label.
    { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
    { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ] },
    { name: 'colors' }
  ]
// NOTE: Remember to leave 'toolbar' property with the default value (null).
  });
</script>