<%= form_for(Answer.new, :url => answers_path, :remote=> true, :id => "new_answer_#{question.id}") do |f| %>
  <div class="panel panel-success">
    <div class="panel-heading">
      Provide an answer:
    </div>
    <div class="panel-body">
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :question_id, :value => question.id %>
      <%= f.text_area :answer , :rows => 3 ,:class=>"ckeditor" %>
      <br/>
      <%= f.submit "Submit", :class => "btn btn-primary"%>
    </div>
  </div>
<% end%>
