<%= form_for(@interest) do |f| %>
  <%= render "shared/error_messages", :object => @interest %>
    <div class="field">
    <%= f.label :interest %><br />
    <%= f.text_field :interest %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :class => "btn btn-primary"%>
  </div>
<% end %>
