<%= form_for(@points_map) do |f| %>
  <% if @points_map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@points_map.errors.count, "error") %> prohibited this points_map from being saved:</h2>

      <ul>
      <% @points_map.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :controller %><br />
    <%= f.text_field :controller %>
  </div>
  <div class="field">
    <%= f.label :action %><br />
    <%= f.text_field :action %>
  </div>
  <div class="field">
    <%= f.label :point %><br />
    <%= f.text_field :point %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
