<!DOCTYPE html>
<html>
<head>
  <title>Rorproject</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class = 'alert'> <%= show_alert(alert) %> </p>
<p class = 'notice'> <%= show_notice(notice) %></p>


<%= yield %>


</body>
</html>
