<html>
  <head>
    <%= render "shared/head" %>
  </head>
  <body>
    <%= render "shared/top_nav" %>
    <div class="container">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-6 col-sm-2">
          <h6><a>My Points</a></h6>
          <h6><%= link_to 'Add Expertise', new_expertise_path %></h6>
          <h6><%= link_to 'Add Interest', new_expertise_path %></h6>
        </div>
        <div class="col-xs-6 col-sm-7">
          <%= yield %>
          
        </div><!--/span-->
        <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
          <div>
            <p> Top Contributors </p>
            <p>Gaurav Soni!! </p>
            <div>
        </div><!--/span-->
      </div><!--/row-->
      <hr>
    </div><!--/.container-->
    <div class="container col-xs-6 col-sm-6">
      <footer>
            <p>&copy; Sony India Software Center 2013</p>
      </footer>
    </div>
    <script>
      $(document).ready(function() {
        $('[data-toggle=offcanvas]').click(function() {
          $('.row-offcanvas').toggleClass('active');
        });
      });
    </script>
  </body>  
</html>