<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "shared/head" %>
  </head>
  <body>
    <%= render "shared/top_nav" %>
    <div class="container">
        <div class="row-fluid">
          <div class="span9">
            <%= bootstrap_flash %>
              <%= yield %>
          </div>
          <div class="span3">
            <% unless current_user.present? %>
            <div >
              <%= button_to "Sign in", new_user_session_path, :class => "btn btn-info btn-lg btn-block", :style => "height:70px !important;", :method => :get %>
              <%= button_to "Sign up", new_user_registration_path, :class => "btn btn-info btn-lg btn-block", :style => "height:70px !important;", :method => :get %>
            </div>
            <% end %>
            <div>
              <%= render "shared/dashboard_links"%>
              <%= render "shared/contributors" %>
            </div>
            <%= render "shared/tags" %>
            <hr/>
          </div><!--/span-->
        </div><!--/row-->
      <%= render "shared/footer" %>
    </div> <!-- /container -->
  </body>
</html>
