<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "shared/head" %>
  </head>
  <body>
    <%= render "shared/top_nav" %>
    <div class="container">
        <div class="row-fluid">
          <div class="span10">
            <%= bootstrap_flash %>
            <%= yield %>
          </div>
          <div class="span2">
            <div>
              <%= render "shared/contributors" %>
            </div>
            <hr/>
            <%= render "shared/tags" %>
            <hr/>
          </div><!--/span-->
        </div><!--/row-->
      <%= render "shared/footer" %>
    </div> <!-- /container -->
  </body>
</html>
