<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "shared/head" %>
  </head>
  <body>
    <%= render "shared/top_nav" %>
    <div class="container">
        <div class="row-fluid">
          <div class="span9">
            <%= bootstrap_flash %>
            <%= yield %>
          </div>
          <div class="span3">
            <div>
              <h5>Quick Links</h5>
              <div class="list-group">
              <a href="/all_questions" class="list-group-item">
                <ul class="media-list" style="margin-bottom:0px;">
                  <li class="media">
                    <div class="media-body">
                      <i class="icon-list"> All Questions</i>
                    </div>
                  </li>
                </ul>
              </a>
              </div>
              <%= render "shared/contributors" %>
            </div>
            <hr/>
            <%= render "shared/tags" %>
            <hr/>
          </div><!--/span-->
        </div><!--/row-->
      <%= render "shared/footer" %>
    </div> <!-- /container -->
  </body>
</html>
