<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "shared/head" %>
  </head>
  <body>
    <%= render "shared/top_nav" %>
    <div class="container">
        <div class="row-fluid">
          <div class="span9">
            <%= bootstrap_flash %>
              <%= yield %>
          </div>
          <div class="span3">
            <% unless current_user.present? %>
            <div >
              <%= button_to "Sign in", new_user_session_path, :class => "btn btn-info btn-lg btn-block", :style => "height:70px !important;", :method => :get %>
              <%= button_to "Sign up", new_user_registration_path, :class => "btn btn-info btn-lg btn-block", :style => "height:70px !important;", :method => :get %>
            </div>
            <% end %>
            <div>
              <h5>Quick Links</h5>
              <div class="list-group">
                <ul class="media-list" style="margin-bottom:0px;">
                  <div class="media-body">
                    <li class="media">
                      <a href="/all_questions" class="list-group-item">
                      <i class="icon-list"> All Questions</i></a>
                    </li>
                  </div>
                </ul>
                <% if current_user.role=="Admin" %>
                  <ul class="media-list" style="margin-bottom:0px;">
                    <li class="media">
                      <div class="media-body">
                        <a href="/activity_log" class="list-group-item">
                        <i class="icon-list"> Activity Log</i></a>
                      </div>
                    </li>
                  </ul>
                  <ul class="media-list" style="margin-bottom:0px;">
                    <li class="media">
                      <div class="media-body">
                        <a href="/users" class="list-group-item">
                        <i class="icon-list"> Manage Users</i></a>
                      </div>
                    </li>
                  </ul>
                <%end%>              
              </div>
              <%= render "shared/contributors" %>
            </div>
            <hr/>
            <%= render "shared/tags" %>
            <hr/>
          </div><!--/span-->
        </div><!--/row-->
      <%= render "shared/footer" %>
    </div> <!-- /container -->
  </body>
</html>
