<!DOCTYPE html>
<head>
<%= render'shared/head'%>
</head>

<body>
<%= render'shared/top_nav'%>
	<div class="span9">
		<%= bootstrap_flash %>
		<%= yield%>
	</div>
	<div class="span3">
	    <div>
	    	<%= render "shared/contributors" %>
	    </div>
	    <hr/>
	    <%= render "shared/tags" %>
	    <hr/>
	</div>
</div>
<div class="span12">
  <div class="span4">
      <center>
        <%= button_to "Sign in", new_user_session_path, :class => "btn btn-primary btn-lg btn-block", :style => "height:100px;", :method => :get %>
      </center>
  </div>
  
  <div class="span3">
    <center><h1>Or</h1></center>
  </div>
  
  <div class="span4">
      <center>
        <%= button_to "Sign up", new_user_registration_path, :class => "btn btn-primary btn-lg btn-block", :style => "height:100px;", :method => :get %>
      </center>
  </div><!--/span-->

</div>

</body>
<script type="text/javascript">
  $(document).ready(function(){
      $('.carousel').carousel({
      interval: 2000
    });
  });
</script>