<html>
  <head>
    <%= render "shared/head" %>
  </head>
  <body>
    <%= render "shared/top_nav" %>
    <div class="container">
      <div class="span2">
        <h6><a>My Points</a></h6>
        <h6><%= link_to 'Add Expertise', new_expertise_path %></h6>
        <h6><%= link_to 'Add Interest', new_interest_path %></h6>
      </div>
      <div class="span9">
        <%= show_alert(alert) %>
        <%= show_notice(notice) %>
        <%= yield %>    
      </div><!--/.container-->
    </div>
    
    <div class="clear"></div>
    <hr/>
    
    <div class="container">
      <footer>
        <p>&copy; Sony India Software Center 2013</p>
      </footer>
    </div>
    
    <script>
      $(document).ready(function() {
        $('[data-toggle=offcanvas]').click(function() {
          $('.row-offcanvas').toggleClass('active');
        });
        $(".datepicker").datepicker();
      });
    </script>
  </body>  
</html>