<html>
  <head>
    <%= render "shared/head" %>
  </head>
  <body>
    <%= render "shared/top_nav" %>
    <div class="container">
      <div class="row-fluid">
        <div class="span2">
          <%= render 'shared/sidebar'%>
        </div>
        <div class="span10">
          <%= show_alert(alert) %>
          <%= show_notice(notice) %>
          <%= yield %>    
        </div><!--/.container-->
      </div>
      <%= render "shared/footer" %>
    </div>
    
    <script>
      $(document).ready(function() {
        $('[data-toggle=offcanvas]').click(function() {
          $('.row-offcanvas').toggleClass('active');
        });
      });
    </script>
  </body>  
</html>