<html>
  <head>
    <%= render "shared/head" %>
  </head>
  <body>
    <%= render "shared/top_nav" %>
    <div class="container">
      <div class="row">
        <%= render 'shared/leftlayout'%>
        <div class="span9">
          <%= show_alert(alert) %>
          <%= show_notice(notice) %>
          <%= yield %>    
        </div><!--/.container-->
      </div>
    </div>
    
    <div class="clear"></div>
    <hr/>
    
    <div class="container">
      <footer>
        <p>&copy; Sony India Software Center 2013</p>
      </footer>
    </div>
    
    <script>
      $(document).ready(function() {
        $('[data-toggle=offcanvas]').click(function() {
          $('.row-offcanvas').toggleClass('active');
        });
      });
    </script>
  </body>  
</html>